<div class="container-big-card">
  <div class="big-card-photo">
    <img src="https://placehold.co/600x400" alt="big-card-placeholder" />
    <span class="date">July 21, 2026</span>
  </div>

  <div class="big-card-title">
    <h2>Saiu a nova versão do Angular!</h2>
  </div>

  <div class="big-card-description">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet
      ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et
      mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt
      congue enim, ut porta lorem lacinia consectetur.
    </p>
  </div>
</div>
